[submodule "src/second_brain_database/integrations/n8n-nodes-second-brain-database"]
	path = submodules/n8n-nodes-second-brain-database
	url = https://github.com/rohanbatrain/n8n-nodes-second-brain-database
[submodule "emotion_tracker"]
	path = emotion_tracker
	url = git@github.com:rohanbatrain/emotion_tracker.git
