[submodule "src/second_brain_database/integrations/n8n-nodes-second-brain-database"]
	path = submodules/n8n-nodes-second-brain-database
	url = https://github.com/rohanbatrain/n8n-nodes-second-brain-database
[submodule "submodules/emotion_tracker"]
	path = submodules/emotion_tracker
	url = git@github.com:rohanbatrain/emotion_tracker.git
[submodule "submodules/sbd-chat"]
	path = submodules/sbd-chat
	url = git@github.com:rohanbatrain/sbd-chat.git
[submodule "submodules/sbd-ipam"]
	path = submodules/sbd-ipam
	url = git@github.com:rohanbatrain/sbd-ipam.git
[submodule "submodules/sbd-landing-page"]
	path = submodules/sbd-landing-page
	url = git@github.com:rohanbatrain/sbd-landing-page.git
[submodule "submodules/sbd-family-hub"]
	path = submodules/sbd-family-hub
	url = https://github.com/rohanbatrain/sbd-family-hub
[submodule "submodules/sbd-digital-shop"]
	path = submodules/sbd-digital-shop
	url = https://github.com/rohanbatrain/sbd-digital-shop
[submodule "submodules/sbd-nextjs-family-hub"]
	path = submodules/sbd-nextjs-family-hub
	url = https://github.com/rohanbatrain/sbd-family-hub
[submodule "submodules/sbd-nextjs-digital-shop"]
	path = submodules/sbd-nextjs-digital-shop
	url = https://github.com/rohanbatrain/sbd-digital-shop
[submodule "submodules/sbd-nextjs-blog-platform"]
	path = submodules/sbd-nextjs-blog-platform
	url = https://github.com/rohanbatrain/sbd-blog-platform
[submodule "submodules/sbd-nextjs-university-clubs-platform"]
	path = submodules/sbd-nextjs-university-clubs-platform
	url = https://github.com/rohanbatrain/sbd-university-clubs-platform
[submodule "submodules/sbd-flutter-emotion_tracker"]
	path = submodules/sbd-flutter-emotion_tracker
	url = git@github.com:rohanbatrain/emotion_tracker.git
[submodule "submodules/sbd-nextjs-chat"]
	path = submodules/sbd-nextjs-chat
	url = git@github.com:rohanbatrain/sbd-chat.git
[submodule "submodules/sbd-nextjs-ipam"]
	path = submodules/sbd-nextjs-ipam
	url = git@github.com:rohanbatrain/sbd-ipam.git
[submodule "submodules/sbd-nextjs-landing-page"]
	path = submodules/sbd-nextjs-landing-page
	url = git@github.com:rohanbatrain/sbd-landing-page.git
