[submodule "src/second_brain_database/integrations/n8n-nodes-second-brain-database"]
	path = submodules/n8n-nodes-second-brain-database
	url = https://github.com/rohanbatrain/n8n-nodes-second-brain-database
[submodule "submodules/sbd-nextjs-family-hub"]
	path = submodules/sbd-nextjs-family-hub
	url = https://github.com/rohanbatrain/sbd-nextjs-family-hub
[submodule "submodules/sbd-nextjs-digital-shop"]
	path = submodules/sbd-nextjs-digital-shop
	url = https://github.com/rohanbatrain/sbd-nextjs-digital-shop
[submodule "submodules/sbd-nextjs-blog-platform"]
	path = submodules/sbd-nextjs-blog-platform
	url = https://github.com/rohanbatrain/sbd-nextjs-blog-platform
[submodule "submodules/sbd-nextjs-university-clubs-platform"]
	path = submodules/sbd-nextjs-university-clubs-platform
	url = https://github.com/rohanbatrain/sbd-nextjs-university-clubs-platform
[submodule "submodules/sbd-flutter-emotion_tracker"]
	path = submodules/sbd-flutter-emotion_tracker
	url = git@github.com:rohanbatrain/sbd-flutter-emotion_tracker.git
[submodule "submodules/sbd-nextjs-chat"]
	path = submodules/sbd-nextjs-chat
	url = git@github.com:rohanbatrain/sbd-nextjs-chat.git
[submodule "submodules/sbd-nextjs-ipam"]
	path = submodules/sbd-nextjs-ipam
	url = git@github.com:rohanbatrain/sbd-nextjs-ipam.git
[submodule "submodules/sbd-nextjs-landing-page"]
	path = submodules/sbd-nextjs-landing-page
	url = git@github.com:rohanbatrain/sbd-nextjs-landing-page.git
[submodule "submodules/sbd-nextjs-memex"]
	path = submodules/sbd-nextjs-memex
	url = git@github.com:rohanbatrain/sbd-nextjs-memex.git
[submodule "submodules/sbd-nextjs-myaccount"]
	path = submodules/sbd-nextjs-myaccount
	url = git@github.com:rohanbatrain/sbd-nextjs-myaccount.git
[submodule "submodules/sbd-nextjs-raunak-ai"]
	path = submodules/sbd-nextjs-raunak-ai
	url = git@github.com:rohanbatrain/sbd-nextjs-raunak-ai.git
[submodule "submodules/sbd-mkdocs"]
	path = submodules/sbd-mkdocs
	url = https://github.com/rohanbatrain/sbd-mkdocs
[submodule "submodules/sbd-nextjs-cluster-dashboard"]
	path = submodules/sbd-nextjs-cluster-dashboard
	url = git@github.com:rohanbatrain/sbd-nextjs-cluster-dashboard.git
