[submodule "src/second_brain_database/integrations/n8n-nodes-second-brain-database"]
	path = submodules/n8n-nodes-second-brain-database
	url = https://github.com/rohanbatrain/n8n-nodes-second-brain-database
[submodule "submodules/emotion_tracker"]
	path = submodules/emotion_tracker
	url = git@github.com:rohanbatrain/emotion_tracker.git
[submodule "submodules/second-brain-database-chat"]
	path = submodules/second-brain-database-chat
	url = git@github.com:rohanbatrain/second-brain-database-chat.git
